.conent {
  align-items: center;
  align-content: center;
  justify-content: center;
  background: rgba(237, 237, 237, 0.5);
  padding-left: 4em;
  padding-right: 4em;
  padding-bottom: 2em;
  padding-top: 1.5em;
  max-width: 640px;
}
