
body{
  background-color: black;
margin: 0;
padding: 0;
}
.view {
  display: flex;
  justify-content: center;

  min-height: 85vh;
  align-items: center;
  background-color: #ED6A7A;
  background-image:url("images/fond.png");
  background-repeat: no-repeat;
  background-size: cover;
}


.conent {
  background: rgba(237, 237,237, 0.9);
  padding-left: 4em;
  padding-right: 4em;
  max-width: 640px;
}

img{
  max-height: 7em;
  padding: 20px;
}

.left-banc {

}


.right-banc {

}

.couple {

  min-height: 4em;
  display: flex;
}

/*h1{
  text-align: center;
  font-weight: 700;
  font-family: 'Montserrat';
  color: white;
  padding: 30px;
  font-size: 2em;
}


h2{
  text-align: center;
  font-weight: 900;
  font-family: 'Montserrat';
  color: black;
  font-size: 3em;
}

h3{
  text-align: center;
  font-weight: 800;
  font-family: 'Montserrat';
  color: black;
  font-size: 14px;
}
h4{
  text-align: center;
  font-weight: 600;
  font-family: 'Montserrat';
  color: bold;
  font-size: 12px;
}

h5{
  text-align: center;
  font-weight: 900;
  font-family: 'Montserrat';
  color: black;
  font-size: 2em;

}
p{
  text-align: center;
  font-weight: 300;
  font-family: 'Montserrat';
  color: black;
  font-size: 12px;
} */

.choices a {
 text-decoration: none;
}

footer {
  min-height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

.cta {
  font-size: 3em;
  color : #fff;
  text-align: center;
}
